.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  font-size: 3.5rem;
  background: url("https://img.freepik.com/photos-gratuite/homme-affaires-tenant-tablette-application-virtuelle_1112-775.jpg?size=626&ext=jpg&ga=GA1.2.2028433825.1664806220");
  background-size: cover;
  color: #ffffff;
  margin: 50px 0 0 0;
  padding: 50px;
  height: calc(100vh - 140px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.main-title {
  position: relative;
  top: -150px;
  background: linear-gradient(#eee, rgb(20, 34, 83));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.new-container {
  margin: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url("https://img.freepik.com/photos-gratuite/papier-peint-grille-numerique-degrade-bleu-marine_53876-104785.jpg?size=626&ext=jpg&ga=GA1.2.2028433825.1664806220");
  background-size: auto;
  padding: 30px;
  border-radius: 5px;
}

.article-container {
  margin: 30px 30px;
  padding: 0px 10px 0 10px;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 2px 5px 3px rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 300px;
  background:
    linear-gradient(217deg, rgba(28, 12, 12, 0.8), rgba(255, 0, 0, 0.142) 70.71%),
    linear-gradient(336deg, rgba(2, 2, 89, 0.8), rgba(0, 0, 255, 0.583) 70.71%);
  color: rgb(255, 255, 255);
  transition: .3s;
  text-decoration: none;
}

.article-container:hover {
  box-shadow: 4px 2px 2px rgb(24, 24, 24);
  position: relative;
  top: 4px;
  background: #e4e4e4bc;
  color: #000000;
}

.article-date {
  margin: 2px;
  font-size: .7rem;
}

.article-source-name {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 5px;
  margin: 2px;
  align-self: start;

}

.article-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin: auto;
}

.article-author {
  margin: 2px
}

.article-img {
  border-radius: 50px;
  padding: 10px;
  margin-top: 15px;

}

.button-allArticles {
  margin: 15px;
  padding: 10px;
  background-color: rgb(173, 175, 191);
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.searchArea {
  display: flex;
  background: #000000;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0
}

.search-container {
  display: flex;
  align-items: center;
  margin: 0 15px 0 0;
}