.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.new-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3f4758;
}

.article-container {
  margin: 10px;
  padding: 10px;
  border: solid 2px antiquewhite;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: #282c34e2;
  color: antiquewhite;
}

.article-date {
  margin: 2px;
  font-size: .8rem;
}

.article-source-name {
  margin: 2px;
}

.article-author {
  margin: 2px
}

.article-img {
  border-radius: 10px;
}

.article-url a {
  color: #d5ecf3;
  text-decoration: none;
}

.article-url a:hover {
  color: white;
}