.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-title {
  font-size: 3.5rem;
  background: url("https://i.pinimg.com/236x/32/5c/df/325cdf40f82ced4a10f28e8548a7a68b.jpg");
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

.header-container {
  background-color: #cbcbcb;
  padding: 10px;
}

.header-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0;
}

.header-item {
  margin: 0 2px 0 2px;
  padding: 5px;
  list-style-type: none;
}

.new-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3f4758;
  padding: 30px;
}

.article-container {
  margin: 10px;
  padding: 0px 10px 0 10px;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 400px;
  background-color: #282c34e2;
  color: rgb(255, 255, 255);
  transition: .3s;
}

.article-container:hover {
  box-shadow: 5px 2px 2px rgb(1, 1, 1);
  position: relative;
  top: 2px;
  background-color: #ffffff;
  color: #282c34;
}

.article-date {
  margin: 2px;
  font-size: .7rem;
}

.article-source-name {
  font-size: 1.2rem;
  padding: 5px;
  margin: 2px;
  align-self: start;

}

.article-title {
  font-size: 1.3rem;
}

.article-author {
  margin: 2px
}

.article-img {
  border-radius: 10px;
}

.article-url a {
  color: #3bbbde;
  text-decoration: none;
}

.article-url a:hover {
  color: rgb(24, 31, 249);
}